  <ion-tab tab="cart">
    <div id="cart-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Cart</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="fullheight">
<!-- HTML -->
<div id="content"></div>

<script>
  fetch('cart.html')
    .then(response => response.text())
    .then(html => {
      document.getElementById('content').innerHTML = html;
    })
    .catch(error => {
      console.error('Gagal memuat file:', error);
    });
</script>
    </ion-content>
  </ion-modal>
      </ion-content>
    </div>
  </ion-tab>

<script>
  var modal = document.querySelector('ion-modal');
</script>