  <ion-tab tab="cart">
    <div id="cart-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Cart</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="fullheight">
<div class="simplecart-area">
  <div class="simplecart-cart">
    <div class="simpleCart_items"></div>
    <div class="simplecart-total harga-total">
      <p>Grand Total: </p><span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
    </div>
    <a class="button ck-btn right" href="/checkout/">Checkout</a>
</p>
  </div>
</div>
      </ion-content>
    </div>
  </ion-tab>