---
layout: compress
---

<!doctype html>
<html lang="{{ site.lang | default: page.lang | default: 'id-ID' }}">

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">

      <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

  <ion-app>
    {{ content }}
  </ion-app>
{% include footer.html %}

    <script src="{{ '/assets/js/jquery-2.2.4.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/simpleCart.js' | relative_url }}"></script>
    <script async src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script async src="{{ '/assets/js/responsive-menu.js' | relative_url }}"></script>

    {% if page.url contains '/products/' %}
      <script async src="{{ '/assets/js/style-picker.js' | relative_url }}"></script>
      <script async src="{{ '/assets/js/add-to-cart.js' | relative_url }}"></script>
    {% endif %}

    {% if page.url == '/checkout/' %}
    <script async src="{{ '/assets/js/checkout.js' | relative_url }}"></script>
    {% endif %}

    <script type="module" src="{{ '/assets/vendor/ionicons/dist/ionicons/ionicons.esm.js' | relative_url }}"></script>
<script nomodule src="{{ '/assets/vendor/ionicons/dist/ionicons/ionicons.js' | relative_url }}"></script>

  </body>

</html>
